@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
    --sizeWeatherName: 6.5em;
    --sizeTemperatureNow: 4em;
    --sizeTemperatureMaxMin: 1.6em;
    --sizeWindAndRain: 1.4em;
    --sizeStateSky: 2.3em;
    --sizeForecastTitle: 2em;
    --sizeForecastTemp: 1.1em;
    --sizeForecastRainWind: 0.8em;
    --sizeForecastVelocity:0.4em;
    --sizeForecastHour: 0.6em;
}

.cityWeather{
    height: 100%;
    width: 80%;
    margin:0;
    padding: 20px;
    padding-bottom: 0px;
}

#addToFavoritesBtn{
    position: absolute;
    width: 25px;
    top: 10px;
    left: 10px;
}

#cityWeatherPrincipalData{
    display: flex;
    align-items: center;
}

#cityWeatherName{
    font-family: 'Montserrat';
    font-size: var(--sizeWeatherName);
    display: inline-block;
}


#cityWeatherTemperatureNow{
    font-family: 'Akshar';
    font-size: var(--sizeTemperatureNow);
    display: inline-block;
    margin-left: 20px;
}

#cityWeatherTemperatureMaxMin{
    display: inline-block;
    font-size: var(--sizeTemperatureMaxMin);
    margin-left: 15px;
}


#cityWeatherTemperatureMax{
    font-family: 'Akshar';
    color:rgb(242, 64, 64);
}

#cityWeatherTemperatureMin{
    font-family: "Akshar";
    color:rgb(87, 87, 211);
}

#cityWeatherWindRain{
    display: inline-block;
    margin-left: 15px;
}

#cityWeatherWind, #cityWeatherRain{
    font-family: "Akshar";
    font-size: var(--sizeWindAndRain);
}

#cityWeatherWind>img,#cityWeatherRain > img{
    width: 15px;
    height: 15px;
}

#cityWeatherStateSky{
    font-family: 'Quicksand';
    display: inline-block;
    font-size: var(--sizeStateSky);
    color: white;
    margin-left: 30px;
}

.forecastTitle{
    font-family: 'Montserrat';
    font-size: var(--sizeForecastTitle);
    margin-top: 20px;
    margin-bottom: 20px;
}

.forecast{
    display: inline-block;
    font-family: 'Akshar';
    padding: 0px 9px 0px 9px;
    border-left: 1px solid rgb(88, 88, 222);
    border-right: 1px solid rgb(88, 88, 222);
}

.forecastTemp{
    font-size: var(--sizeForecastTemp);
    text-align: center;
}

.forecastRain{
    font-size: var(--sizeForecastRainWind);
    text-align: center;
}

.forecastVelocity{
    text-align: center;
    font-size: var(--sizeForecastRainWind);
}

.forecastVelocity > span{
    font-size: var(--sizeForecastVelocity);
}

.forecastHour{
    text-align: center;
    font-size: var(--sizeForecastHour);
}

@media only screen and (max-width: 900px) {
    :root{
        --sizeWeatherName: 5.5em;
        --sizeTemperatureNow: 4em;
        --sizeTemperatureMaxMin: 1.9em;
        --sizeWindAndRain: 1.5em;
        --sizeStateSky: 3em;
        --sizeForecastTitle: 3em;
        --sizeForecastTemp: 1.8em;
        --sizeForecastRainWind: 1.2em;
        --sizeForecastVelocity:1em;
        --sizeForecastHour: 1.2em;
    }
    #cityWeatherPrincipalData{
        display: block;
        align-items: center;
    }
    #cityWeatherName{
        display: block;
    }
    #cityWeatherTemperatureNow{
        display: inline-block;
        margin-left: 20px;
    }
    #cityWeatherTemperatureMaxMin{
        display: inline-block;
        margin-left: 15px;
    }
    .forecastGroup{
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

@media only screen and (max-width: 600px) {
    :root{
        --sizeWeatherName: 3.25em;
        --sizeTemperatureNow: 2em;
        --sizeTemperatureMaxMin: 0.8em;
        --sizeWindAndRain: 0.7em;
        --sizeStateSky: 1.4em;
        --sizeForecastTitle: 1.5em;
        --sizeForecastTemp: 1em;
        --sizeForecastRainWind: 0.7em;
        --sizeForecastVelocity:0.5em;
        --sizeForecastHour: 0.7em;
    }
}